html {
    font-size: 14px;
}

body {
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

@media only screen and (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.font-size-small {
    font-size: 0.875rem;
}

.font-size-large {
    font-size: 1.125rem;
}

.font-weight-small {
    font-weight: 100;
}

.font-weight-large {
    font-weight: 700;
}

.font-weight-bolder {
    font-weight: bolder;
}

.mr-medium {
    margin-right: 0.875rem;
}

.ml-medium {
    margin-left: 0.875rem;
}

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

.mt-auto {
    margin-top: auto;
}

.mb-auto {
    margin-bottom: auto;
}

.pl-auto {
    padding-left: auto;
}

.pr-auto {
    padding-right: auto;
}

.pt-auto {
    padding-top: auto;
}

.pb-auto {
    padding-bottom: auto;
}

.text-primary {
    color: blue;
}

.align-center {
    text-align: center;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}